
@{
    ViewBag.Title = "AddGellary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center">
            <span>
                @TempData["Error"]
            </span>
        </div>
    }
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Sponser</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Add</button>
                    <a class="btn btn-dark" href="/Admin/Gellary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

