@{
    ViewBag.Title = "Conference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="commites-top"></div>
<!--==========================
      Schedule Section
    ============================-->
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Event Schedule</h2>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3</a>
            </li>
        </ul>

        <h3 class="sub-heading">
            Day 1: Friday, February 24th, 2023
            <br />
            Day 2: Saturday, February 25th, 2023
            <br />
            Day 3: Sunday, February 26th, 2023
        </h3>

        <div class="tab-content row justify-content-center">

            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>01:30 PM<br />TO<br />02:45 PM</time></div>
                    <div class="col-md-10">
                        <h4>Registration</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>03:00 PM<br />TO<br />04:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Opening Ceremony</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>05:00 PM<br />TO<br />07:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 1</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>07:00 PM<br />TO<br />08:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Team Meeting and Closing Day 1</h4>
                    </div>
                </div>


            </div>
            <!-- End Schdule Day 1 -->
            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
                <div class="row schedule-item">
                    <div class="col-md-2"><time>10:00 AM<br />TO<br />12:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 2</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>12:00 PM<br />TO<br />1:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Lunch Break</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>1:45 PM<br />TO<br />4:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 3</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>4:00 PM<br />TO<br />4:45 PM</time></div>
                    <div class="col-md-10">
                        <h4>Coffee Break</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>5:00 PM<br />TO<br />7:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 4</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>7:30 PM<br />TO<br />9:00 PM</time></div>
                    <div class="col-md-10">
                        <h4>Social Night</h4>
                    </div>
                </div>


                

            </div>
            <!-- End Schdule Day 2 -->
            <!-- Schdule Day 3 -->
            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

                <div class="row schedule-item">
                    <div class="col-md-2"><time>9:30 AM<br />TO<br />11:00 AM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 5</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:00 AM<br />TO<br />11:30 AM</time></div>
                    <div class="col-md-10">
                        <h4>Coffee Break</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>11:00 AM<br />TO<br />1:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Committee Session 6</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>1:45 PM<br />TO<br />2:45 PM</time></div>
                    <div class="col-md-10">
                        <h4>Lunch Break and Networking</h4>
                    </div>
                </div>
                <div class="row schedule-item">
                    <div class="col-md-2"><time>3:00 PM<br />TO<br />4:30 PM</time></div>
                    <div class="col-md-10">
                        <h4>Closing Ceremony</h4>
                    </div>
                </div>
                

            </div>
            <!-- End Schdule Day 2 -->

        </div>

    </div>

</section>


<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="~/Content/js/schaduale.js"></script>