
@{
    ViewBag.Title = "DelegatesGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="commites-top"></div>
<section class="section section-md">
    <div class="container">
        <div class="row row-40 justify-content-center">
            <div class="col-lg-12 col-12 text-center">
                <div class="offset-top-45 offset-lg-right-45 shadow p-4 text-center">
                    <h1>Coming Soon</h1>
                </div>
            </div>

        </div>
    </div>
</section>
