<div class="input-group">
    <label>Why are you interested in this position?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gIntersted">
</div>
<div class="input-group">
    <label>Please rate your English communication skills. from 1 to 5</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gEnglishRate">
</div>
<div class="input-group">
    <label>What background do you have in working with sponsors/funders?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sBackgroundSponser">
</div>
<div class="input-group">
    <label>When looking for businesses that are willing to fully sponsor BEYMUN 2018, what are the criteria you would look for in prospective sponsors?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sProspectiveSponsors">
</div>
<div class="p-t-20">
    <button class="btn btn--radius cust-btn" type="submit">Submit</button>
</div>