@model List<BymenFinal.Models.sponser>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Home-top"></div>
<div class="container-fluid" style="padding:0">
    <div class="announcement blink_me">
        <p>Announcement Here!&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/Home/Announcement">Full Story ></a></p>
    </div>
</div>
<!--Main section-->
<section class="section main-section parallax-scene-js background-home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-12">
                <div class="main-decorated-box text-center text-xl-left">
                    <h1 class="text-white text-xl-center wow slideInRight" data-wow-delay=".3s">
                        
                        <span class="big font-weight-bold d-inline-flex offset-right-170">GENERATIONS</span>
                        <span class="align-top offset-top-30 d-inline-block font-weight-light prefix-text"><i>OF</i></span>
                        <span class="biggest d-block d-xl-flex font-weight-bold">TOMORROW</span>
                    </h1>
                    <div class="decorated-subtitle text-italic text-white wow slideInLeft">A Beacon of Hope</div>
                </div>
            </div>
            <div class="col-12 text-center offset-top-75" data-wow-delay=".2s">
                <a class="button-way-point d-inline-block text-center d-inline-flex flex-column justify-content-center" href="#" data-custom-scroll-to="count">
                    <span class="fa-chevron-down"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="decorate-layer">
        <div class="layer-1">
            <div class="layer" data-depth=".20">
                <img src="~/Content/images/parallax-item-1-563x532.png" alt="" width="563" height="266" />
            </div>
        </div>
        <div class="layer-2">
            <div class="layer" data-depth=".30">
                <img src="~/Content/images/parallax-item-2-276x343.png" alt="" width="276" height="171" />
            </div>
        </div>
        <div class="layer-3">
            <div class="layer" data-depth=".40">
                <img src="~/Content/images/parallax-item-3-153x144.png" alt="" width="153" height="72" />
            </div>
        </div>
        <div class="layer-4">
            <div class="layer" data-depth=".20">
                <img src="~/Content/images/parallax-item-4-69x74.png" alt="" width="69" height="37" />
            </div>
        </div>
        <div class="layer-5">
            <div class="layer" data-depth=".40">
                <img src="~/Content/images/parallax-item-5-72x75.png" alt="" width="72" height="37" />
            </div>
        </div>
        <div class="layer-6">
            <div class="layer" data-depth=".30">
                <img src="~/Content/images/parallax-item-6-45x54.png" alt="" width="45" height="27" />
            </div>
        </div>
    </div>
</section>
<!-- CountDown -->
<section class="section section-sm position-relative" id="count" style="background-color: #1CB6AA;"> <!--#ffdb00-->
    <div class="container box-counter">
        <h1 id="headline">Countdown to our event</h1>
        <div id="countdown">
            @*<ul>
                    <li class="counter-item"><span class="days"></span> Days</li>
                    <li class="counter-item"><span class="hours"></span> Hours</li>
                    <li class="counter-item"><span class="minutes"></span> Minutes</li>
                    <li class="counter-item"><span class="seconds"></span> Seconds</li>
                </ul>*@
            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
            <a href="https://logwork.com/countdown-x6r6" class="countdown-timer" data-timezone="Asia/Beirut" data-date="2023-02-24 09:00" style="pointer-events: none">Our event starts in</a>
            <p style="font-size:20px"><strong>Friday, February 24th - Saturday, February 25th - Sunday, February 26th</strong></p>
        </div>
        
    </div>
</section>
<!--Owl Carousel-->
<section class="section section-md">
    <div class="container">
        <div class="row row-40 justify-content-center">
            <div class="col-lg-12 col-12">
                <div class="offset-top-45 offset-lg-right-45 shadow p-4">
                    <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s">To all change-makers and<span class="text-primary"> truth seekers,</span></h3>

                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        It is my pleasure to welcome you all to Beirut Model United Nations 6th edition. Your keen interest in world affairs has brought you to our platform where we provide you with the opportunity to express yourself through the art of debate. My name is Marina Markarian, I am serving as Secretary General this year alongside an incredible team that has been working tirelessly to bring you the best edition of BEYMUN yet.
                    </p>
                    <p class="wow fadeInUp" data-wow-delay=".4s">Throughout the three days of our conference, you will all have the opportunity to discuss topics close to your hearts, engage in insightful debates, and find resolutions to global issues that affect us today. Within your committee rooms, no two will be the same, each equipped with our experienced chairs ready to engage you all in topics chosen very specifically for each one. All committees have been adapted to suit the abilities of each level between average and fast-paced which means one thing we can't deny is that you will enjoy every moment.</p>


                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        I am also eager to announce that this year will be hosted in-person as well as in a virtual setting. Our team is working on hosting separate committees to accommodate those that are unable to join us in Beirut. Furthermore, I am happy to also announce that this will be our second time hosting high school delegates, but the first time to have you join us in-person.
                    </p>

                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        As BEYMUN we are diverse, we are passionate and we are determined to make it an experience like no other. We uphold our core values in every aspect and choose to always prioritize you, our dearest delegates.

                        <br>At the end of the day, you are the future, as the current Secretary General of the United Nations, Antonio Guterres has said "The Hopes of the World Rest on Young People". It's true, and it all starts with diplomacy, that's one thing MUN is all about, join us and find out the rest.

                        <br>Warmest regards,
                        <br>Marina Markarian
                        <br>SG of BEYMUN'23
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<hr style="width: 80%;">
<!--Features-->
<section class="section custom-section position-relative section-md" style="padding-bottom: 63px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-12 text-center">
                <iframe width="660" height="415" src="https://www.youtube.com/embed/6GeLfNCztWI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Click on the video to get a detailed impression about our Beymun !</p>
            </div>
        </div>
    </div>
</section>
<hr style="width: 80%;">


<section id="supporters" class="section-with-bg wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>Sponsors</h2>
        </div>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="height: 200px;">
            <div class="carousel-inner">
                @{ int counter = 0;}
                @foreach (var item in Model)
                {
                    counter += 1;
                    string active = "";
                    if (counter == 1)
                    {
                        active = "active";
                    }
                    else
                    {
                        active = "";
                    }

                    <div class="carousel-item @active">
                        <img class="d-block w-100" src="~/Content/images/Sponsers/@item.Image" style="height: 180px;" alt="First slide">
                        <div class="text-center"><p>@item.Name</p></div>
                    </div>
                }

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="background: #017777; height: 80px; border-radius: 50px; top: 60px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="background: #017777; height: 80px; border-radius: 50px; top: 60px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        @*<div class="row no-gutters supporters-wrap clearfix">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                        <img src="~/Content/images/FINAL -02.png" class="img-fluid" alt="">
                    </div>
                    <div class="text-center">Sponser 1</div>
                </div>
            </div>*@

    </div>

</section>

<section id="buy-tickets" class="section-with-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h2>Registration Fees</h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">University or School Delegation</h5>
                        <h6 class="card-price text-center">$17</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Deadline: 30 January 2023</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>To form a delegation there must be a minimum of 8 members within the organization (School, University, or Club) </li>
                            
                            @*<li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Community Access</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>*@
                        </ul>
                        <hr>
                        <div class="text-center">
                            <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="standard-access"><a href="http://beymun.net/Home/ApplyDelegation" class="text-white">Register Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body" style="height: 435px;">
                        <h5 class="card-title text-muted text-uppercase text-center">Regular Registration</h5>
                        <h6 class="card-price text-center">$20</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Deadline: 30 January 2023</li>
                            @*<li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
                            <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>*@
                        </ul>
                        <hr>
                        <div class="text-center" style="margin-top: 135px;">
                            <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="pro-access"><a href="http://beymun.net/Home/Apply" class="text-white">Register Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body" style="height: 435px;">
                        <h5 class="card-title text-muted text-uppercase text-center">Late Registration</h5>
                        <h6 class="card-price text-center">$25</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Deadline: 9 February 2023</li>
                            @*<li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Workshop Access</li>
                            <li><span class="fa-li"><i class="fa fa-check"></i></span>After Party</li>*@
                        </ul>
                        <hr>
                        <div class="text-center" style="margin-top: 135px;">
                            <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="premium-access"><a href="http://beymun.net/Home/Apply" class="text-white">Register Now</a></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal Order Form -->
    <!--<div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buy Tickets</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <select id="ticket-type" name="ticket-type" class="form-control">
                                <option value="">-- Select Your Ticket Type --</option>
                                <option value="standard-access">Standard Access</option>
                                <option value="pro-access">Pro Access</option>
                                <option value="premium-access">Premium Access</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">Buy Now</button>
                        </div>
                    </form>
                </div>
            </div>-->
    <!-- /.modal-content -->
    <!--</div>--><!-- /.modal-dialog -->
    <!--</div>--><!-- /.modal -->

</section>
<!--==========================
      F.A.Q Section
    ============================-->
<section id="faq" class="wow fadeInUp">

    <div class="container">

        <div class="section-header">
            <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9">
                <ul id="faq-list">

                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1">What is BEYMUN? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                            <p>
                                It is a conference organized by AUB students and has been held at AUB every year since 2016. The conference hosts over 300 delegates discussing different topics within their respective committees (i.e. Security Council, World Health Organization, Human Rights Council, etc.). AUB has been the host of our conference ever since we began our journey to hosting one of the largest conferences in the Middle East.<br> 
The structure of the conference is a three-day event full of debate within respective committees. This year, we have chosen to host a hybrid conference given the circumstances on the international scale.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Will there be training for delegates? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                Yes, training will be provided prior to the conference day.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Where will the conference be held? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                It will be held on the premises of the American University of Beirut (AUB), Beirut, Lebanon.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">How will delegation payments proceed? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                One representative has to send the money all at once.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">How do I pay the registration fees? <i class="fa fa-minus-circle"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                            <p>
                                Registration fees can be paid at your nearest OMT (if you live in Lebanon) or Western Union (if you're registering from abroad). Our team will email you with the details as soon as your application is filled.<br>Please note that for those transferring within Lebanon, the transfer fee is included in the price listed on the website.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>
<a href="#supporters" style="bottom: 100px;" class="ui-to-top active">$</a>