<div class="input-group">
    <label>Why are you interested in this position?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gIntersted">
</div>
<div class="input-group">
    <label>Do you have previous experience in organizing events?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sExperienceOrganizing">
</div>
<div class="p-t-20">
    <button class="btn btn--radius cust-btn" type="submit">Submit</button>
</div>