<div class="input-group">
    <label>Why are you interested in this position?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gIntersted">
</div>
<div class="input-group">
    <label>Please rate your English writing skills. from 1 to 5</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gEnglishRate">
</div>
<div class="input-group">
    <label>Do you have any previous experience in Marketing? Please elaborate.</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sMarketingPlan">
</div>

<div class="p-t-20">
    <button class="btn btn--radius cust-btn" type="submit">Submit</button>
</div>
