
@{
    ViewBag.Title = "RulesofProcedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="commites-top"></div>
<section class="section section-md bg-gray-lighten">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">

                <h3 class="wow fadeInLeft text-capitalize text-center" data-wow-delay=".3s">Rules of Procedure</h3>
                <div class="owl-carousel review-carousel" data-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-xl-items="1" data-xxl-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="0" data-mouse-drag="true" data-autoplay="false">
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p style="padding-top: 200px;">
                                <b>Roll Call</b><br />
                                A roll call shall be undertaken at the beginning of each meeting, during which the Chair calls the delegate of each country in alphabetical order. The delegate must answer by “present”, or “present and voting”. Latecomers must send a note to the Chair to inform them of their arrival and voting stance.
                            </p>

                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p style="padding-top: 100px;">
                                <b>Debate</b><br />
                                <i>Setting the Agenda</i><br />
                                Sample Motion: “Delegate of Lebanon motions to set the agenda to discuss Topic A then Topic B”.
                                The first task of the committee is to set the agenda by voting on the order by which the topics will be discussed. Four delegates will be recognized; two will speak in favor of Topic A and two in favor of Topic B.
                                <i>
                                    Speakers’ List
                                </i><br />
                                Sample Motion: “Delegate of Lebanon motions to set the speaker’s list, with speaker’s time of 1 minute.”
                                The Chair calls upon the speakers that have expressed their desire to speak after adding them to the speakers’ list. Each speaker will have an assigned time to speak, which is specified with the motion.
                                Delegates not on the speaker’s list and who wish to be added to it must send a note to the Chair. Delegates who finish their speech with some remaining time have the option of yielding their time to the Chair, to another delegate, or to questions.

                            </p>

                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p>
                                <b>
                                    Caucusing
                                </b><br />
                                Delegates can motion to suspend the debate and move into a moderated caucus, unmoderated caucus, or consultation of a whole when the Chair opens the floor for points and motions.
                                <br /><i>Moderated Caucus</i><br />
                                Sample Motion: “Delegate of Lebanon motions to suspend the debate for a moderated caucus to discuss national actions, for a total time of 10 minutes and a speaker’s time of 40 seconds.”
                                During the moderated caucus, delegates get to discuss chosen subtopics related to the main topic.  It is considered formal debate during which speakers are recognized one at a time.
                                <br />
                                <i>
                                    Unmoderated Caucus
                                </i><br />
                                Sample Motion: “Delegate of Lebanon motions to suspend the debate for an unmoderated caucus to start forming blocs, for a total time of 10 minutes.”
                                An unmoderated caucus is an informal discussion that happens for a specific amount of time during which delegates may communicate with one another without being recognized one at a time by the chair. During the unmoderated caucus, delegates are able to form blocks and work on the working papers and draft resolutions.
                                <br />
                                <i>
                                    Consultation of a Whole
                                </i><br />
                                Sample Motion: “Delegate of Lebanon motions to suspend the debate for a consultation of a whole to discuss international actions, for a total time of 10 minutes.”
                                It is considered to be informal debate guided by the delegates themselves, where delegates get to speak individually and recognize the next speaker.
                            </p>

                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p style="padding-top: 100px;">
                                <b>
                                    Adjournment of Meeting and Closure of Debate
                                </b><br />
                                <i>
                                    Adjournment
                                </i><br />
                                Sample Motion: “Delegate of Lebanon motions to adjourn the meeting till 3 PM, for a lunch break.”
                                At the end of each committee session, delegates must motion for an adjournment of the debate.
                                Closure<br />
                                Sample Motion: “Delegate of Lebanon motions to close the debate and move into voting procedures.”
                                Once a topic is exhausted, delegates must motion to close the debate and move into voting procedures.

                            </p>

                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p style="padding-top: 100px;">
                                <b>Voting Procedures</b><br />
                                The voting procedure is done by default by a show of placards or a roll-call if any delegate requests it, in which case the Chair refers to the list by alphabetical order and each delegate answers “yes”, “no”, or “abstention”. Voting is done on draft resolutions in the order that the chair approves. During voting procedures multiple draft resolutions may pass. Note that only delegates that declare to be “present” during roll call are allowed to abstain on voting on draft resolutions and amendments. Moreover, it is of utmost importance for all delegates to remain in the committee and doors will be closed until voting procedures are finalized.
                                <br /><i>Note on motions and seconds:</i><br />
                                For a motion to be considered it should be seconded by at least one other delegate than the one motioning for it. A second is simply done by a delegate saying the word “second” after the motion is made.
                            </p>
                        </div>
                    </div> 
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p>
                            <p style="padding-top: 50px;">
                                <b>Points and Written Motions</b><br />
                                Not adherent to any specific order in the flow of debate, delegates can also raise points and written motions.
                                <br />Points are of the following kind:<br />
                                ●	Point of order, which is used to call out a mistake committed by the dais. This point is interruptive, meaning it can be raised at any time without prior permission from the dais.
                                <br />●	Point of inquiry, which is used when a delegates wishes to ask questions concerning the topic or the rules of procedure
                                <br />●	Point of personal privilege, which is used to express discomfort (e.g. difficulty in hearing a delegate’s speech) or to be excused. This point is interruptive.
                                <br />●	Point of information, which is directed to other delegates with the aim of asking questions regarding speeches and draft resolutions.

                            </p>
                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <p>
                            <p style="padding-top: 200px;">
                                Written motions are of the following kind:<br />
                                ●	Right of Reply, which is used when a delegate wishes to reply to a delegate who offended him/her in a speech. A note should be submitted to the Chair indicating the reason for the right of reply. Upon approval by the Chair, the delegate is given the floor to reply.
                                <br />●	Appeal to the Chair’s Decision, which is used when the Chair has made an unfair or biased decision
                            </p>
                        </div>
                    </div>
                    <div class="item">

                        <div class="item-description wow fadeInUp" data-wow-delay=".3s">
                            <div class="table table-responsive"></div>
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <td>Motion/Point/Yield</td>
                                        <td>Description</td>
                                        <td>Second Required</td>
                                        <td>Speakers For/Against</td>
                                        <td>Interruptive</td>
                                        <td>Votes Required to Pass </td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Setting the Agenda</td>
                                        <td>Used to decide the topic to be debated</td>
                                        <td>Yes</td>
                                        <td>2 For, 2 Against</td>
                                        <td>No</td>
                                        <td>Simple Majority </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Yields</td>
                                        <td>Used only during the speaker’s list to yield the remaining time to the chair, to another delegate, or to questions</td>
                                        <td>No</td>
                                        <td>-</td>
                                        <td>No</td>
                                        <td>- </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Suspend the Debate </td>
                                        <td>Used to suspend the debate for a moderated caucus, unmoderated caucus, or consultation of a whole</td>
                                        <td>Yes</td>
                                        <td>-</td>
                                        <td>No</td>
                                        <td>Simple Majority </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Table the Debate </td>
                                        <td>Tables the topic and moves into voting procedures before moving on to the second topic. </td>
                                        <td>Yes</td>
                                        <td>2 For, 2 Against </td>
                                        <td>No </td>
                                        <td>Two-thirds Majority </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Adjourn the Meeting</td>
                                        <td>Used to adjourn the meeting at the end of each committee session</td>
                                        <td>Yes</td>
                                        <td>-</td>
                                        <td>No</td>
                                        <td>Simple Majority </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Closure of Debate</td>
                                        <td>Used to close the debate on the topic and move into voting procedures. </td>
                                        <td>Yes</td>
                                        <td>-</td>
                                        <td>No</td>
                                        <td>Two-thirds Majority </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Point of Order</td>
                                        <td>Used to call out a mistake committed by the dais</td>
                                        <td>No</td>
                                        <td>-</td>
                                        <td>Yes</td>
                                        <td>- </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Point of Personal Privilege</td>
                                        <td>Used to express discomfort or be excused</td>
                                        <td>No</td>
                                        <td>-</td>
                                        <td>Yes</td>
                                        <td>- </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>Point of Inquiry</td>
                                        <td>Used to ask about rules of procedure or for clarification about the topic</td>
                                        <td>No</td>
                                        <td>-</td>
                                        <td>No</td>
                                        <td>- </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>