<div class="input-group">
    <label>Why are you interested in this position?</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="gIntersted">
</div>
<div class="input-group">
    <label>Name three potential venues for our social events</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sPotentialVenues">
</div>
<div class="input-group">
    <label>Do you have previous experience in organizing events? If yes, explain what you did.</label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sExperienceOrganizing">
</div>
<div class="input-group">
    <label>
        How do you plan on marketing BEYMUN 2018's social events?
    </label>
    <input class="input--style-1" type="text" required placeholder="your answer" name="sMarketingPlan">
</div>
<div class="p-t-20">
    <button class="btn btn--radius cust-btn" type="submit">Submit</button>
</div>
